.content {
    display: flex;
    width: 100%;
}
.content > div {
    width: 100%;
    margin-right: 20px;
}
.form-group {
    width: 90%;
    margin-left: 20px;
}
.btn-all {
    margin-top: 20px;
    margin-left: 20px;
}